<header class="app-header">
  <div class="left-section">
    <h1 class="header-title">Appointments</h1>
     <div class="right-section">
    <button mat-button class="aid-button">
      <span>Today</span>
    </button>
  </div>
    <div class="actions">     
      <div class="date-display">{{currentDate | date:'fullDate':'Asia/Kolkata' }}</div>
    </div>
  </div>
  
  <div class="center-section">
  <div class="toggle-button-group">
    <button 
      class="toggle-button" 
      [class.active]="selectedView === 'day'" 
      (click)="selectedView = 'day'">
      Day
    </button>
    <button 
      class="toggle-button" 
      [class.active]="selectedView === 'week'" 
      (click)="selectedView = 'week'">
      Week
    </button>
  </div>
</div>

<div class="right-section">
  <button class="aid-button" (click)="showPopup = true">
    <span>Add +</span>
  </button>
</div>
</header>






<div *ngIf="showPopup" class="popup-backdrop" (click)="closePopup()"></div>
<div *ngIf="showPopup" class="popup-form">
  <h3>New Appointment</h3>
  <form (ngSubmit)="submitAppointment()" class="field-form" >
    <input name="title"  placeholder="Title" required />
    <input type="datetime-local" name="start" required />
    <input type="datetime-local" name="end" required />
    <select name="resourceId" required style="width: 103.5%;">
  <option value="" disabled selected>Select Resource</option>
  <option value="1">JADE</option>
  <option value="2">EMMA</option>
  <option value="3">AINE</option>
  <option value="4">AONGHUS</option>
</select>

    <div class="popup-actions">
      <button type="submit" [disabled]="">Save</button>
      <button type="button" (click)="closePopup()">Cancel</button>
    </div>
  </form>
</div>